<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fill Details</title>
  </head>
  <body>
    <form action="/details/<%-token%>" method="post">
      <input type="text" placeholder="Team name" name="team_name" />
      <input type="text" placeholder="Teammate name" name="teammate name" />
      <input type="text" placeholder="Teammate email" name="teammate_email" />
      <button type="submit">NEXT</button>
    </form>
  </body>
</html>
