<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blockverse</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: #511348;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      nav {
        height: 16%;
        text-align: center;
        overflow: hidden;
      }
      nav img {
        height: 12vh;
        width: 55vw;
      }
      .container {
        height: 84%;
        width: 75%;
        color: white;
        font-size: small;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
      }
      .division1 {
        height: 35%;
        width: 80%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .division1 img {
        height: 100%;
        width: 25%;
      }
      p {
        padding-left: 15px;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .division2 {
        height: 40%;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .division2 div {
        height: 100%;
        width: 25%;
      }
      .division2 p {
        height: 100%;
        width: 70%;
        padding-left: 15px;
      }
      .btn {
        height: 15%;
        background-color: aliceblue;
        width: 20%;
        height: 10%;
      }
    </style>
  </head>
  <body>
    <nav>
      <img src="./img/blockverse.jpg" alt="" />
    </nav>
    <div class="container">
      <div class="division1">
        <img src="./img//brl_logo.jpg" alt="" />
        <p>
          If you are searching for an exciting open door to code the ideas into
          reality, here is your spot. Team Blockchain Research Lab, is here with
          its electrifying event, <b>BLOCKVERSE</b> for first & second year
          students.
        </p>
      </div>
      <div class="division2">
        <div>
          <h3><b>Description</b></h3>
        </div>
        <p>
          It will comprise of two phases: first one being the 4 hours project
          building round where the developers will put their technical skills to
          replicate innovative schemas followed by a rejuvenating 3 hours
          treasure hunt game, CryptHunt, where the geeks will brainstorm over
          the hints and solve the riddles within the specified time limit.
        </p>
      </div>
    </div>
    <button class="btn"><a href="/google">Register</a></button>
  </body>
</html>
